                            <div class="card card-shadow mb-4">
                                    <div class="card-header border-0">
                                            <div class="custom-title-wrap pb-1 mt-0">
                                                <div class="custom-title text-center pb-0">Payment Info</div>
                                            </div>
                                        </div>
                                <div class="card-body">
                                    <p>Please make payment to the following account below</p>
                                    <div class="table-responsive">
                                    <table class="table table-hover">
                                            <tbody>
                                            <tr>
                                                <td><b>Account Number</b></td>
                                                <td>3910100512</td>
                                            </tr>
                                            <tr>
                                                <td><b>Account Holder Name</b></td>
                                                <td>Regina Cecilia</td>
                                            </tr>
                                            <tr>
                                                    <td><b>Transfer Amount</b></td>
                                                    <td>Rp50.000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        <div>
                                                <input type="checkbox" id="confirmcheck" class="iCheck-flat-red">
                                                <label class="control-label">I have made a payment</label>
                                        <button type="submit" class="btn btn-danger float-right" name="next" id="next" value="next" disabled>Next</button>
                                    </div>
                                    </div>
                                </div>